
 /* Скрывать бургер и показывать навигацию при ширине экрана 1116px */
@media screen and (min-width: 1116px) {
    .container{
        max-width: 1116px;

    }
    .header-navigation .list {
      display: block;
      cursor: pointer;
    }
     a:hover{
      color: var(--num-color);
      font-weight: bold;
    }
   .header-navigation{
        display: flex;
        gap: 68px;
        align-items: center;
    }
  
    .header-navigation .burger {
      display: none !important;
    }
    /* .hero-content {
        width: 1116px;
    }
    .hero{
      background-image: url(./images/bg-header.png);
    
    }
    .hero-text{
        padding-bottom: 0;
        margin-bottom: 0;

    }
    .slider_btns {
        
        gap: 40px;

    }
    .triggers{
        width: 1116px;
        padding-right:200px ;
    }
    .triggers>button:hover {
        background-color:var(--accent-color);

    }
    .triggers>button {
       opacity: 0.6;
        color: #ffffff;
        font-size: 20px;
    }
    .contakty {
      display: flex;
     
  } */

  /* ----------------Slider 1------- */


  .banner_wrapper{
    width: 100%;
    height: 670px;
    background-image: url(./images/banner.jpg);
    background-position: center;
    background-size: cover;
}

.frame{
    position: relative;
    height: 100%;
    overflow: hidden;
    /* width: 1116px; */
}

.slider_container{
    position: absolute;
    height: 100%;
    left: 0;
    display: flex;
    transition: 0.5s;
    
}

.banner_elem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;

    height: 100%;
    width: 1116px;   
}

.banner_text{
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 700; 
    font-size: 48px;
    max-width: 590px;
}

.main_btn{
    color: white;
    border: none;
    font-size: 18px;
    background-color: #005FA3;
    padding: 19px 60px;
}

.main_btn:hover{
    background-color: #0e77c2;

}

.banner_triggers{
    position: absolute;
    width: 90%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: flex-start;
}

.banner_round_btns{
    height: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.banner_round_btns > button {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    border: none;
    opacity: 0.4;
    cursor: pointer;
}

.banner_round_btns > button.active {
    opacity: 1;
}
.btn_slider{
    padding: 22px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    
}

.btn_slider:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.btn_slider.right > img {
    transform: rotate(180deg);
}

.banner_triggers_btns{
    display: flex;
}

/*  */



.clients_triggers_btns{
  display: flex;
  padding-top: 200px;
 justify-content: flex-end;
 z-index: -1;

}

.clients_wrapper{
  height: 630px;
  background-color: #EBEBEB;
 
  
}

.main_section_text{
  color: #BDBDBD;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.second_section_text{
  color: #333333;
  font-family: "Merriweather", serif;
  font-weight: 700; 
  font-size: 48px;
}

.clients_triggers_btns > button {
  background-color: #005fa362;
}

.clients_triggers_btns > button:hover {
  background-color: #005fa3;
}

.clients_wrapper > div {
  height: 100%;
}
.clients.slider_container > img {
  width: 255px;
  height: 130px;
}

.clients.slider_container{
  gap: 30px
  
}



.clients{
  display: flex;
  justify-content: space-between; 
  padding-top: 55px;
 

}


.slider_container{
  display: flex;
  justify-content: space-between;
 
}



.triggers {
  bottom: 10%;
}
  /* ------------------ */

  .header-navigation {
      display: flex;
      gap: 68px; /* отступ между элементами */
      align-items: center; /* центрируем элементы по вертикали */
    }
    
    .header-list.list {
      display: flex;
      gap: 20px; /* дополнительный отступ между ссылками */
    }

    .posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      grid-gap: 30px; 
    }
    .post-title {
      max-width: 187px;
      font-family: "Lato Light", sans-serif;
      font-size: 16px;
      padding-bottom: 0px;
      padding-left: 45px;
  }
  
  .overlay {
    padding: 0px;
    left: 0px;
    bottom: 45px;
    
  }

  .about-as {
    display:flex;
    justify-content: space-between;
    gap: 125px;
    
  }
  .about_us_first {
   display: block;
   flex-direction: column;
  }
.card-about-us {
  display:flex;
  flex-direction: column;
  min-width: 255px;
  min-height: 255px;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.card-about-us:hover {
  background-color: var(--accent-color); /* Цвет фона при наведении */
}

.card-about-us:hover p, /* Изменение цвета текста при наведении */
.card-about-us:hover a, 
.card-about-us:hover num {
  color: var(--white-color);
}
.wrapper-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.reviu_avatar {
  display: block;
}
}

