
 /* Скрывать бургер и показывать навигацию при ширине экрана 1116px */
@media screen and (min-width: 1116px) {
    .container{
        max-width: 1116px;

    }
    .header-navigation .list {
      display: block;
      cursor: pointer;
    }
     a:hover{
      color: var(--num-color);
      font-weight: bold;
    }
   .header-navigation{
        display: flex;
        gap: 68px;
        align-items: center;
    }
  
    .header-navigation .burger {
      display: none !important;
    }
    .hero-content {
        width: 1116px;
    }
    .hero{
       background-image: url(./images/desctop-header.png);
    
    }
    .hero-text{
        padding-bottom: 0;
        margin-bottom: 0;

    }
    .slider_btns {
        
        gap: 40px;

    }
    .triggers{
        width: 1116px;
        padding-right:200px ;
    }
    .triggers>button:hover {
        background-color:var(--accent-color);

    }
    .triggers>button {
       opacity: 0.6;
        color: #ffffff;
        font-size: 20px;
    }
    .contakty {
      display: flex;
     
  }

  .header-navigation {
      display: flex;
      gap: 68px; /* отступ между элементами */
      align-items: center; /* центрируем элементы по вертикали */
    }
    
    .header-list.list {
      display: flex;
      gap: 20px; /* дополнительный отступ между ссылками */
    }

    .posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      grid-gap: 30px; 
    }
    .post-title {
      max-width: 187px;
      font-family: "Lato Light", sans-serif;
      font-size: 16px;
      padding-bottom: 0px;
      padding-left: 45px;
  }
  
  .overlay {
    padding: 0px;
    left: 0px;
    bottom: 45px;
    
  }

  .about-as {
    display:flex;
    justify-content: space-between;
    gap: 125px;
    
  }
  .about_us_first {
   display: block;
   flex-direction: column;
  }
.card-about-us {
  display:flex;
  flex-direction: column;
  min-width: 255px;
  min-height: 255px;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.card-about-us:hover {
  background-color: var(--accent-color); /* Цвет фона при наведении */
}

.card-about-us:hover p, /* Изменение цвета текста при наведении */
.card-about-us:hover a, 
.card-about-us:hover num {
  color: var(--white-color);
}
.wrapper-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.reviu_avatar {
  display: block;
}
}

