
:root{
    --bigtitle-color:#333333;
     --num-color: #000000;
    --accent-color: #005FA3;
    --title-color: #222222;
    --paragraph-color: #BDBDBD;
    --hero-bgcolor: #E5E5E5;
    --card-color: #EBEBEB;
     --white-color:#fff;
     --font-family: "Lato", sans-serif;
     --second-family: "Merriweather", sans-serif;          

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

 h2{
    font-family: "Marriweather";
    font-weight: 900px;
    font-weight: 900px;
    font-size: 48px;
    color: var(--bigtitle-color);

} 
img{
    
    cursor: pointer;
}
a{
   color: inherit; 
   
}


.burger{
    
}

.paragraph_text{
   
   
} 

span{
    color:var(--accent-color);
}

.container{
    max-width:754px;
    margin: 0 auto;
    padding-right: 77px;
    padding-left: 85px;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 21px;



}

/* .container {
    max-width: calc(100% - 162px); /* 162px это сумма отступов (85px + 77px) */
    /* margin: 0 auto;
    padding-right: 77px;
    padding-left: 85px;
}

.container-header {
    max-width: calc(100% - 162px); /* 162px это сумма отступов (85px + 77px) */
    /* margin: 0 auto;
    padding-right: 77px;
    padding-left: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  */ 


.header-list {
    display: flex;
    align-items: center;
}

.burger {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.logo1{
  font-size: 40px  ;
}


.list {
    display: none;
}
.burger {
}
.fa-solid {
}
.fa-bars {
}
.burger_menu {
    font-size: 40px;
}
.contakty {
    display: none;
}


/* ----------hero-- */
/* .hero {
    background-image: url(./images/bg-img.png);   
    background-size: cover;
    width:100%;
    height: 670px;
    color: var(--hero-bgcolor);
}
.hero-content {
    display: flex;
    max-width: 592px;
  */
/* } */


.hero {
    background-image: url(./images/bg-img.png);   
    background-size: cover;
    width: 100%;
    padding: 80px 0; 
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 592px;   
    text-align: center; 
    font-size: 48px;
    color: var(--hero-bgcolor);
    font-family: var(--second-family);
font-weight: 700;
line-height: 1.3;

}

.hero-text {
  padding: 0;
    text-align: left;
    
        max-width: 592px;
        text-align: left;
        position: relative; /* Добавляем позиционирование */
        padding-bottom: 50px; /* Добавляем внутренний отступ снизу */
    }
    


.hero-text h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px; 
    line-height: 1.3;
    margin-bottom: 22px; 
    text-shadow: 4px 4px  rgba(0, 0, 0, 0.25);
   

}

.hero-text a {
    display: inline-block; 
    background-color: var(--accent-color); 
    padding: 10px 20px; 
    font-weight: 400;
    font-size: 18px;

    
  
}

.hero-text a:hover {
    background-color: #00497e; 
}




/* Hero Sliser-------------------------- */



.frame{
    position: relative;
    width:100%;
    overflow: hidden;
    max-width: 800px; /* Ширина контейнера слайдера */
    height: 400px; /* Высота контейнера слайдера */
}

.text-slides-container {
    display: flex;
    width: 100%; /* Установка ширины 100% */
    transition: transform 0.5s; /* Анимация перехода */
}

.cards_container{
    position: absolute;
    display: flex;
    left: 0;
    z-index: -1;
    transition: 0.5s;
  
}

/* .cards_container > img {
    width: 400px;
    height: 400px;
    object-fit: cover; 
    object-position: center;
} */



.triggers > button {
    width: 60px;
    height: 60px;
    font-size: 15px;
    box-shadow: 0 4px 4px 0 rgba(234, 229, 229, 0.25);
    color:var(--white-color);
    background-color:var(--title-color);
    opacity: 0.4;
    border: none;
    transition: 250ms;
    
}

.triggers > button:hover {
    opacity: 0.6;
}

.slider_btns{
    position: absolute;
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content:start;
    gap: 5px;
    bottom: 0;
    
}

.round_btn{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(82, 80, 78);
    border: 2px solid rgb(82, 79, 79);
    transition: 250ms;
}

.round_btn:hover{
    transform: scale(1.25);
    box-shadow: 2px 2px 7px;
}

.round_btn.active{
    background-color:var(--white-color);
}

.cards_container {
    position: absolute;
    display: flex;
    left: 0;
    top: 0; 
    z-index: -1;
    transition: 0.5s;
    width: 100%;
    height: 100%; 
}
.triggers {
    position: absolute;
    bottom: 10px; 
    width: 100%;
    display: flex;
    justify-content:flex-end;
    
}




