:root {
    --bigtitle-color: #333333;
    --num-color: #000000;
    --accent-color: #005FA3;
    --title-color: #222222;
    --paragraph-color: #BDBDBD;
    --hero-bgcolor: #E5E5E5;
    --card-color: #EBEBEB;
    --white-color: #fff;
    --font-family: "Lato", sans-serif;
    --second-family: "Merriweather", sans-serif;
    --hover-color: #005FA3;
    --transition: transform 0.3s ease; 
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    
}

h2 {
    font-family: "Marriweather";
    font-weight: 900px;
    font-weight: 900px;
    font-size: 48px;
    color: var(--bigtitle-color);
    margin-bottom: 60px;


}
h3{
    font-family: "Lotto, sans-serif";
    font-weight: 300px;  
    font-size: 24px;
    color: var(--white-color);}

img {
    display: block;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    
}

a {
    color: inherit;
  
}

p{
    color: var(--paragraph-color);
    font-family: var(--font-family);
    font-size: 18px;
    padding-bottom: 40px;   

}


span {
    color: var(--accent-color);
}
num {
    color: var(--num-color);
    font-weight: bold;
    font-size: 40px;
}

.reviu_avatar {
  display:none ;
}
.container {
    max-width: 754px;
    margin: 0 auto;
    padding-right: 77px;
    padding-left: 85px;
    display: block;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 21px;

}

.header-list {
    display: flex;
    align-items: center;
}

.burger {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.logo1 {
    font-size: 40px;
}


.list {
    display: none;
    text-transform: uppercase;
    
}

.burger_menu {
    font-size: 40px;
}

.contakty {
    display: none;
}



/* Hero Slider-------------------------- */


.banner_wrapper{
  width: 100%;
  height: 670px;
  background-image: url(./images/banner.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.frame{
  position: relative;
  height: 100%;
  overflow: hidden;
  /* width: 1116px; */
}

.slider_container{
  position: absolute;
  height: 100%;
  left: 0;
  display: flex;
  transition: 0.5s;

  margin: 0 auto;
}
  


.banner_elem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;

  height: 100%;
  width: 1116px;   
}

.banner_text{
  color: white;
  font-family: "Merriweather", serif;
  font-weight: 500; 
  font-size: 48px;
  max-width: 590px;
}

.main_btn{
  color: white;
  border: none;
  font-size: 18px;
  background-color: #005FA3;
  padding: 19px 60px;
}

.main_btn:hover{
  background-color: #0e77c2;

}

.banner_triggers{
  position: absolute;
  width: 90%;
  bottom: 0;
  display: flex;
  justify-content: space-between;

  align-items: flex-start;
  

}

.banner_round_btns{
  height: 50px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.banner_round_btns > button {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.banner_round_btns > button.active {
  opacity: 1;
}
.btn_slider{
  padding: 22px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  
}

.btn_slider:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

.btn_slider.right > img {
  transform: rotate(180deg);
}

.banner_triggers_btns{
  display: flex;
}

/* ------------------- */


.frame {
    position: relative;
    width: 100%;
    overflow: hidden;  
    height: 600px;
   
}

.text-slides-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s;
}

.cards_container {
    position: absolute;
    display: flex;
    left: 0;
    z-index: -1;
    transition: 0.5s;

}


.triggers>button {
    width: 60px;
    height: 60px;
    font-size: 15px;
    box-shadow: 0 4px 4px 0 rgba(234, 229, 229, 0.25);
    color: var(--white-color);
    background-color: var(--title-color);
    opacity: 0.4;
    border: none;
    transition: 250ms;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;

}

.triggers>button:hover {
    background-color:var(--accent-color);
    justify-content:space-between;
}

.slider_btns {
    position: absolute;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    bottom: 0;

}

.round_btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(195, 190, 186);
    border: 2px solid rgb(82, 79, 79);
    transition: 250ms;
}

.round_btn:hover {
    transform: scale(1.25);
    box-shadow: 2px 2px 7px;
    color: var(--accent-color);
}

.round_btn.active {
    background-color: var(--white-color);
}

.cards_container {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.triggers {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content:flex-end; 

}


/* -------наши услуги */

  
  .posts {
    margin-bottom: 80px;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
  }
  
  
  .post > a {
    position: relative;
    color: var(--common-white);
    display: block;
  }
  .post-img {
    transition: transform 0.3s ease; 
  }

  .post-img:hover {
    transform: scale(1.03);
    content: url('./images/ourwork1.png');
  }
  
  .overlay {
    border-radius: 0px 0px 16px 16px;   
    padding: 12px 20px;
    position: absolute;
    left: 76px;
    bottom: 45px;
    
  }

    
    

    .ourwork{
        margin-top: 140px;
    }


/*                о нас -------- */



.card-about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:43px;
    background-color:var(--card-color);
    padding-bottom: 15px;
    height: 120px;
    margin-bottom: 15px;

}
.card-about-us p{
    padding-bottom: 0;
    color: var(--num-color);
    width: 143px;
}

/* ------------------our clients--------------- */




.our-clients {
    margin-top: 150px;
    margin-bottom: 130px;
    background-color:var(--hero-bgcolor);
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-clients img {
    max-width: 481px; 
    width: 100%; 
}

.our-clients{
    padding-top: 100px;
    padding-bottom: 100px;
}



/* ------------slider2 */



.clients_wrapper{
  height: 630px;
  background-color: #EBEBEB;
}

.main_section_text{
  color: #BDBDBD;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.second_section_text{
  color: #333333;
  font-family: "Merriweather", serif;
  font-weight: 700; 
  font-size: 48px;
}

.clients.triggers_btns > button {
  background-color: #005fa362;
}

.clients.triggers_btns > button:hover {
  background-color: #005fa3;
}

.clients_wrapper > div {
  height: 300px;
}

.clients.frame{
  height: 500px;
}

.clients.round_btns > button{
  background-color:  #005fa3;
}

.clients.slider_container > img {
  width: 255px;
  height: 130px;
  margin-right: 31px;
}

.clients.slider_container > img:nth-child(4n){
  margin-right: 0;
}

.clients.slider_container{
  display: flex;
}


@media(max-width: 1200px){
  .container{
      max-width: 600px;
  }
  .menu_wrapper{
      display: none;
  }
  .burger_menu{
      display: inline;
  }
  .container{
      max-width: 600px;
  }
  .banner_elem{
      width: 600px;
  }
  .clients.slider_container > img {
      width: 480px;
      height: 200px;
      margin-left: 60px;
      margin-right: 60px;
  }
  .clients.slider_container > img:nth-child(4n){
      margin-right: 60px;
  }
  

}



/* .frame2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 800px;  
    height: 400px;
   
}

   .our-clients-content {
    position: relative;
  }
  
  .triggers2 {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center; 
    gap: 5px; 
  }
  
  .triggers2 button {
    width: 60px;
    height: 60px;
    font-size: 15px;
    box-shadow: 0 4px 4px 0 rgba(234, 229, 229, 0.25);
    color: var(--white-color);
    background-color: var(--title-color);
    opacity: 0.4;
    border: none;
    transition: 250ms;
    cursor: pointer;
  }
  
  .triggers2 button:hover {
    opacity: 0.6;
    background-color:var(--accent-color);
  } */
  
  /* .slider2_btns {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center; 
    gap: 5px; 
  }
  
  .round2_btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(195, 190, 186);
    border: 2px solid rgb(82, 79, 79);
    transition: 250ms;
  }
  
  .round2_btn:hover {
    transform: scale(1.25);
    box-shadow: 2px 2px 7px;
  }
  
  .round2_btn.active {
    background-color: var(--accent-color);
  }
  
   */

  /*    customer feedback------------------- */

  .customer-reviews {
    position: relative;
   

  }
  
  .customer-feedback {
    display: flex;
    justify-content:flex-start;
    align-items: center;

    gap: 30px;
    position: relative;
    width: 100%;
    max-width: 600px;
   height: 300px;
    overflow: hidden;
   background-color:var(--hero-bgcolor);  
    
  }
  
.reviu_avatar>img{
  display:none; 
  
}


  .review-controls {
    position: absolute;
    right:10%;
    bottom: -20%;
    
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .review-controls button {
    width: 60px;
    height: 60px;
    font-size: 15px;
    box-shadow: 0 4px 4px 0 rgba(234, 229, 229, 0.25);
    color: var(--white-color);
    background-color: var(--title-color);
    opacity: 0.4;
    border: none;
    transition: 250ms;
    cursor: pointer;
  }
  
  .review-controls button:hover {
    opacity: 0.6;
    background-color: var(--accent-color);
  }
  
  .slider3_btns {
    position: absolute;
    bottom: -20%;
    left: 12%;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .round3_btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(195, 190, 186);
    border: 2px solid rgb(82, 79, 79);
    transition: 250ms;
  }
  
  .round3_btn:hover {
    transform: scale(1.25);
    box-shadow: 2px 2px 7px;
  }
  
  .round3_btn.active {
    background-color: var(--accent-color);
  }
  
  

  /* ---------footer wrapper-----
  
  */



  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer_contacts,
  .contact-message {
    width: 48%; 
  }

  .footer_wrapper{
    margin-top:163px ;
    padding: 29px 79px 135px 67px;
background-image: url("./images/hero_bg.png");
  }

  .footer_wrapper>h2{
    color: var(--card-color);
  }
  .contact{
    height: 35px;

    display: flex;
    justify-content: space-around;
  }

  .name{
    padding-top: 160px;
    display: flex;
    justify-content: space-around;
    gap: 33.9px;
    background-color: transparent;
    margin-bottom: 36.5px;
  }
  .name>input{
    border: none;
    width: 300px;
    height: 60px;
    background-color: transparent;
    border-bottom: 1px solid var(--card-color);
    position: relative;
  }
  textarea{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom:1px solid var(--card-color); 
    color: var(--white-color);
   
  }

  .footer_btn {
   border: none;
    margin-top: 43px;
    float: right; 
    margin-right: 147px; 
    width: 270px;
    height: 60px;
    background-color: var(--accent-color);
    color: var(--hero-bgcolor);
   margin-bottom: 135px;
   cursor: pointer;
   transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .footer_btn:hover{
    background-color: var(--card-color);
    color: var(--accent-color);
    }
  
  
    .footer_wrapper h2{
    color: var(--white-color);
  }

  .name_input>input{
    border: none;
    border-bottom: 1px solid var(--card-color);
    background-color:transparent;
  }

