:root {
    --bigtitle-color: #333333;
    --num-color: #000000;
    --accent-color: #005FA3;
    --title-color: #222222;
    --paragraph-color: #BDBDBD;
    --hero-bgcolor: #E5E5E5;
    --card-color: #EBEBEB;
    --white-color: #fff;
    --font-family: "Lato", sans-serif;
    --second-family: "Merriweather", sans-serif;
    --hover-color: #005FA3;
    

}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

h2 {
    font-family: "Marriweather";
    font-weight: 900px;
    font-weight: 900px;
    font-size: 48px;
    color: var(--bigtitle-color);
    margin-bottom: 60px;


}
h3{
    font-family: "Lotto, sans-serif";
    font-weight: 300px;  
    font-size: 24px;
    color: var(--white-color);}

img {
    display: block;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    overflow-clip-margin: content-box;
    overflow: clip;
    
    
}

a {
    color: inherit;
  
}

p{
    color: var(--paragraph-color);
    font-family: var(--font-family);
    font-size: 18px;
    padding-bottom: 40px;   

}


span {
    color: var(--accent-color);
}
num {
    color: var(--num-color);
    font-weight: bold;
    font-size: 40px;
}

.reviu_avatar {
  display:none ;
}
.container {
    max-width: 754px;
    margin: 0 auto;
    padding-right: 77px;
    padding-left: 85px;
    display: block;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 21px;



}

/* .container {
    max-width: calc(100% - 162px); /* 162px это сумма отступов (85px + 77px) */
/* margin: 0 auto;
    padding-right: 77px;
    padding-left: 85px;
}

.container-header {
    max-width: calc(100% - 162px); /* 162px это сумма отступов (85px + 77px) */
/* margin: 0 auto;
    padding-right: 77px;
    padding-left: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  */


.header-list {
    display: flex;
    align-items: center;
}

.burger {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.logo1 {
    font-size: 40px;
}


.list {
    display: none;
    text-transform: uppercase;
    
}



.burger_menu {
    font-size: 40px;
}

.contakty {
    display: none;
}




.hero {
    background-image: url(./images/bg-img.png);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    padding: 80px 0;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 592px;
    text-align: center;
    font-size: 48px;
    color: var(--hero-bgcolor);
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1.3;

}

.hero-text {
    
    text-align: left;
    max-width: 592px;
    text-align: left;
    position: relative;      
    
}



.hero-text h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 22px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.25);


}

.hero-text a {
    display: inline-block;
    background-color: var(--accent-color);
    padding: 10px 20px;
    font-weight: 400;
    font-size: 18px;

}

.hero-text a:hover {
    background-color: #00497e;
}




/* Hero Slider-------------------------- */



.frame {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 800px;  
    height: 400px;
   
}

.text-slides-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s;
}

.cards_container {
    position: absolute;
    display: flex;
    left: 0;
    z-index: -1;
    transition: 0.5s;

}


.triggers>button {
    width: 60px;
    height: 60px;
    font-size: 15px;
    box-shadow: 0 4px 4px 0 rgba(234, 229, 229, 0.25);
    color: var(--white-color);
    background-color: var(--title-color);
    opacity: 0.4;
    border: none;
    transition: 250ms;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;

}

.triggers>button:hover {
    background-color:var(--accent-color);
    justify-content:space-between;
}

.slider_btns {
    position: absolute;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    bottom: 0;

}

.round_btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(195, 190, 186);
    border: 2px solid rgb(82, 79, 79);
    transition: 250ms;
}

.round_btn:hover {
    transform: scale(1.25);
    box-shadow: 2px 2px 7px;
    color: var(--accent-color);
}

.round_btn.active {
    background-color: var(--white-color);
}

.cards_container {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.triggers {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content:flex-end; 

}


/* -------наши услуги */

  
  .posts {
    margin-bottom: 80px;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
  }
  
  
  .post > a {
    position: relative;
    color: var(--common-white);
    display: block;
  }
  .post-img {
    transition: transform 0.3s ease; 
  }

  .post:hover {
    background-image: url('images/ourwork1.png');
    background-color: var(--accent-color);
    background-size: cover; 
  }
  
  
  .overlay {
    border-radius: 0px 0px 16px 16px;   
    padding: 12px 20px;
    position: absolute;
    left: 76px;
    bottom: 45px;
    
  }
  
  

    
    .post-img:hover{
        background-image: url('images/ourwork1.png');
        background-position: center center; 
        background-size: cover;
        background-repeat: no-repeat;;
    }

    .ourwork{
        margin-top: 140px;
    }


/*                о нас -------- */



.card-about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:43px;
    background-color:var(--card-color);
    padding-bottom: 15px;
    height: 120px;
    margin-bottom: 15px;

}
.card-about-us p{
    padding-bottom: 0;
    color: var(--num-color);
    width: 143px;
}

/* ------------------our clients--------------- */




.our-clients {
    margin-top: 150px;
    margin-bottom: 130px;
    background-color:var(--hero-bgcolor);
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-clients img {
    max-width: 481px; 
    width: 100%; 
}

.our-clients{
    padding-top: 100px;
    padding-bottom: 100px;
}



/* ------------slider2 */

.frame2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 800px;  
    height: 400px;
   
}

   .our-clients-content {
    position: relative;
  }
  
  .triggers2 {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center; /* Центрирование кнопок по вертикали */
    gap: 5px; /* Расстояние между кнопками */
  }
  
  .triggers2 button {
    width: 60px;
    height: 60px;
    font-size: 15px;
    box-shadow: 0 4px 4px 0 rgba(234, 229, 229, 0.25);
    color: var(--white-color);
    background-color: var(--title-color);
    opacity: 0.4;
    border: none;
    transition: 250ms;
    cursor: pointer;
  }
  
  .triggers2 button:hover {
    opacity: 0.6;
    background-color:var(--accent-color);
  }
  
  .slider2_btns {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center; 
    gap: 5px; 
  }
  
  .round2_btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(195, 190, 186);
    border: 2px solid rgb(82, 79, 79);
    transition: 250ms;
  }
  
  .round2_btn:hover {
    transform: scale(1.25);
    box-shadow: 2px 2px 7px;
  }
  
  .round2_btn.active {
    background-color: var(--accent-color);
  }
  
  

  /*    customer feedback------------------- */

  .customer-reviews {
    position: relative;
   

  }
  
  .customer-feedback {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
    position: relative;
    width: 100%;
    max-width: 600px;
   height: 300px;
    overflow: hidden;
    background-color:var(--hero-bgcolor);
   

    
  }
  
  .review-controls {
    position: absolute;
    right:10%;
    bottom: -20%;
    
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .review-controls button {
    width: 60px;
    height: 60px;
    font-size: 15px;
    box-shadow: 0 4px 4px 0 rgba(234, 229, 229, 0.25);
    color: var(--white-color);
    background-color: var(--title-color);
    opacity: 0.4;
    border: none;
    transition: 250ms;
    cursor: pointer;
  }
  
  .review-controls button:hover {
    opacity: 0.6;
    background-color: var(--accent-color);
  }
  
  .slider3_btns {
    position: absolute;
    bottom: -20%;
    left: 12%;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .round3_btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(195, 190, 186);
    border: 2px solid rgb(82, 79, 79);
    transition: 250ms;
  }
  
  .round3_btn:hover {
    transform: scale(1.25);
    box-shadow: 2px 2px 7px;
  }
  
  .round3_btn.active {
    background-color: var(--accent-color);
  }
  
  

  /* ---------footer wrapper-----
  
  */

  .footer_wrapper{
    margin-top:163px ;
    padding: 29px 79px 135px 67px;
background-image: url("./images/hero_bg.png");
  }

  .footer_wrapper>h2{
    color: var(--card-color);
  }
  .contact{
    height: 35px;

    display: flex;
    justify-content: space-around;
  }

  .name{
    padding-top: 160px;
    display: flex;
    justify-content: space-around;
    gap: 33.9px;
    background-color: transparent;
    margin-bottom: 36.5px;
  }
  .name>input{
    border: none;
    width: 300px;
    height: 60px;
    background-color: transparent;
    border-bottom: 1px solid var(--card-color);
    position: relative;
  }
  textarea{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom:1px solid var(--card-color); 
    color: var(--white-color);
   
  }

  .footer_btn {
    margin-top: 43px;
    float: right; /* Выравнивание кнопки справа */
    margin-right: 147px; /* Отступ справа */
    width: 270px;
    height: 60px;
    background-color: var(--accent-color);
    color: var(--hero-bgcolor);
   margin-bottom: 135px;
   cursor: pointer;
transition: all;
  }
  .footer_btn:hover{
    background-color: var(--card-color);
    color: var(--accent-color);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .footer_wrapper h2{
    color: var(--white-color);
  }